{% extends "layout.html" %}
{% block title %}Index{% endblock %}

{% block content %}
    <div class="container">
        <ul class="nav nav-tabs">
            {% for cls, link, title in [ ("upload", url_for('uploads'), "上传"),
            ("pre", "javascript:;", "上一页"),
            ("next", "javascript:;", "下一页"),
            ] %}
                <li><a id="{{ cls }}" href="{{ link }}">{{ title }}</a></li>
            {% endfor %}
        </ul>

        {% if files %}
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    {% for title in ["#", "文件名", "时间"] %}
                        <th>{{ title }}</th>
                    {% endfor %}
                </tr>
                </thead>

                <tbody>
                {% for item in files %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td><a href="{{ url_for("details", fid=item.fid|e) }}">{{ item.filename|e }}</a></td>
                        <td>{{ item.creat_date|dateformat }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% else %}
            <h3 class="text-center">No files uploaded.</h3>
        {% endif %}
    </div>

    <script>
        var cp = new Number("{{ cp }}");
        $("#pre").bind("click", function () {
            location.href = "http://" + location.hostname + ":" + location.port + "/pages/" + ((cp - 1 >= 0) && (cp - 1) || 1);
        });
        $("#next").bind("click", function () {
            location.href = "http://" + location.hostname + ":" + location.port + "/pages/" + ((cp + 1 >= 0) && (cp + 1) || 1);
        })
    </script>
{% endblock %}
