{% extends "layout.html" %}
{% block title %}Login{% endblock %}

{% block content %}
    <div class="center" style="width: 200px;margin-top: 5%">
        {% if error %}
            <div class="err">{{ error|e }}</div>
        {% endif %}

        <form method="post" action="{{ url_for("login") }}">
            <div>
                <label>Username</label>
                <input type="text" name="username" placeholder="username"/>
            </div>
            <div>
                <label>Password</label>
                <input type="password" name="password" placeholder="password"/>
            </div>
            <div class="center">
                <button type="submit">enter</button>
            </div>
        </form>
    </div>
{% endblock %}
